<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/logo.png?r={{r}}" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/images/logo.png?r={{r}}" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/images/logo.png?r={{r}}" sizes="96x96">
    <link rel="stylesheet" href="/static/styles/404.css?r={{r}}">
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <title>4O4</title>
</head>
<body onload="alertify.error('4O4, Page not found')">
    <div id="pannel">
        <h4>4O4</h4>
        <p>Return to <a href="/">Guess The Code</a></p><br><br>
    </div>
</body>
</html>